## CSV 转换为 flux，time 等数据

### 获取该目录下的csv名字

In [129]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
from astropy.time import Time

In [130]:
alldf = pd.read_csv('pha_sort.txt')
alldf = alldf[['Name','Diam','Class','H','time','type','PHA']]
alldf[:5]

       Name   Diam Class      H  time    type          PHA
0  2020 BJ4  0.124    S*  21.89  2020  Apollo  Potentially
1  2020 UF2  0.130    S*  21.80  2020  Apollo  Potentially
2  2020 SP4  0.124    S*  21.90  2020  Apollo  Potentially
3  2015 RH2  0.102    S*  22.32  2019  Apollo  Potentially
4  2019 QD6  0.142    S*  21.60  2019  Apollo  Potentially

In [131]:
alldf2 = alldf.copy()
for i in range(len(alldf)):
    ss = alldf.loc[i]['Name']
    alldf2.loc[i,'Name'] = ss[:4]+ss[5:]
alldf2.to_csv('pha_sort2.txt')
alldf2[:5]

      Name   Diam Class      H  time    type          PHA
0  2020BJ4  0.124    S*  21.89  2020  Apollo  Potentially
1  2020UF2  0.130    S*  21.80  2020  Apollo  Potentially
2  2020SP4  0.124    S*  21.90  2020  Apollo  Potentially
3  2015RH2  0.102    S*  22.32  2019  Apollo  Potentially
4  2019QD6  0.142    S*  21.60  2019  Apollo  Potentially

In [132]:
path = './allwise/csv'
files = os.listdir(path)
names = []
for file in files:
    if file == 'num5.txt':
        continue
    if  os.path.isdir(path+'/'+file):
       continue
    names.append(file[:-4])
names.sort()
print(len(names),names)

133 ['1991VA', '1994CB', '1996GQ', '1996XB27', '1999MN', '2000SM10', '2001AV43', '2001JV1', '2002BF25', '2002GD10', '2002LT24', '2002NV16', '2003MA3', '2004KH17', '2005EE', '2005ML13', '2005XB1', '2007DA', '2008NP3', '2008UP100', '2009FD', '2009SH2', '2009TK', '2009UD', '2009UU1', '2009UX17', '2009UY19', '2010AF30', '2010AJ30', '2010AN2', '2010BH115', '2010CA55', '2010CB55', '2010CC55', '2010CF19', '2010CN141', '2010CO1', '2010DF1', '2010DG77', '2010DH77', '2010DX1', '2010EX11', '2010FA81', '2010FB81', '2010FC', '2010FC81', '2010FE7', '2010FG81', '2010FH81', '2010FK', '2010FS', '2010GB6', '2010GP67', '2010GS7', '2010HA', '2010HW81', '2010HX107', '2010HZ104', '2010JN71', '2010JX16', '2010KA8', '2010KP10', '2010KU7', '2010KX7', '2010LB64', '2010LH14', '2010LJ68', '2010LK34', '2010LK61', '2010LK68', '2010LL68', '2010LV108', '2010MG1', '2010MY1', '2010NS36', '2010NY65', '2010OH126', '2010PK9', '2010PP58', '2010PW58', '2010TN4', '2010XP69', '2011AA37', '2011BT15', '2011MD', '2011UL147', '2012BF86', '2012KU12', '2013PC7', '2013QR1', '2014CS13', '2014DF80', '2014FD7', '2014JR25', '2014KH39', '2014KQ76', '2014NL52', '2014OA2', '2014SU1', '2014VL6', '2014XF32', '2014YC', '2015BK', '2015HB117', '2015HS11', '2015SO2', '2015SV6', '2015SZ', '2015WF13', '2015YE', '2015YX7', '2016AZ8', '2016EV1', '2016GW221', '2016KD', '2016LF2', '2016NK39', '2016NN15', '2016RF34', '2016UH101', '2017CF32', '2017JF3', '2017KR27', '2017UC3', '2017VU', '2017VY13', '2018AF3', '2018EC9', '2018QU1', '2019DD2', '2019WV4', '2020GF2', '2021JR3']

### read old name

In [133]:
len(names)

133

In [134]:
oldname = np.genfromtxt('oldname.txt',dtype='str')
oldname = list(oldname)
oldname2 = np.genfromtxt('oldname2.txt',dtype='str')
oldname2 = list(oldname2)
old = oldname+oldname2
len(old)

62

In [135]:
newnames = []
for name in names:
    if name not in old:
        newnames.append(name)
len(newnames)

75

### 最后没有数据的name

In [136]:
#with open('newname.txt','a') as f:
 #   f.write('\n'.join(newnames))

### newname 2 pandas

In [137]:
dfnew = pd.DataFrame(newnames,columns=['Name'])
dfnew = dfnew.merge(alldf2,how = 'left')
dfout = dfnew.sort_values(by='PHA',ascending=False)
dfout.insert(loc=len(dfout.columns),column='D_wise',value='nan')
dfout.to_excel('new.xlsx')

In [138]:
namepha = list(dfout['Name'][:11])
namepha

['2010DF1',
 '2017JF3',
 '2012KU12',
 '2014KQ76',
 '2010PK9',
 '2010LK34',
 '2010CF19',
 '2010AF30',
 '2013QR1',
 '2005EE',
 '2004KH17']

#### test

In [139]:
name = namepha[0]
lis = []
rawdata = pd.read_csv(f'./allwise/csv/{name}.csv')
rawdata = rawdata.loc[:,['mjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro','ph_qual','sso_flg']]
rawdata.insert(loc=len(rawdata.columns),column='tdbjd',value='no')
rawdata.insert(loc=len(rawdata.columns),column='tdbmjd',value='no')
rawdata

,mjd,w1mpro,w1sigmpro,w2mpro,w2sigmpro,w3mpro,w3sigmpro,w4mpro,w4sigmpro,ph_qual,sso_flg,tdbjd,tdbmjd
0,55287.225760,17.163,NaN,15.668,NaN,10.142,0.161,7.320,NaN,UUBU,0,no,no
1,55287.291976,16.830,NaN,15.321,NaN,10.440,0.196,7.725,0.496,UUBC,0,no,no
2,55287.358064,17.214,NaN,15.697,0.538,10.666,0.256,7.897,0.514,UCBC,0,no,no
3,55287.424280,17.017,NaN,14.891,0.290,10.490,0.221,7.873,0.505,UBBC,0,no,no
4,55287.490496,16.888,NaN,15.135,NaN,10.214,0.162,7.728,0.476,UUBC,0,no,no
5,55287.556584,17.143,NaN,15.007,NaN,10.832,0.293,7.326,NaN,UUBU,0,no,no

In [140]:
#rawdata['mjd'] = 2400000.5+rawdata['mjd']
for i in tqdm(range(len(rawdata))):  
    t = Time(rawdata['mjd'][i],format='mjd',scale='utc')
    t.format = 'iso'
    rawdata['tdbjd'][i] = t.tdb.jd
    rawdata['tdbmjd'][i] = t.tdb.mjd
    lis.append(t.tdb.jd)
rawdata

  0%|          | 0/6 [00:00<?, ?it/s]/tmp/ipykernel_4185758/4226581038.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbjd'][i] = t.tdb.jd
/tmp/ipykernel_4185758/4226581038.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbmjd'][i] = t.tdb.mjd
100%|██████████| 6/6 [00:00<00:00, 1289.43it/s]

,mjd,w1mpro,w1sigmpro,w2mpro,w2sigmpro,w3mpro,w3sigmpro,w4mpro,w4sigmpro,ph_qual,sso_flg,tdbjd,tdbmjd
0,55287.225760,17.163,NaN,15.668,NaN,10.142,0.161,7.320,NaN,UUBU,0,2455287.726526,55287.226526
1,55287.291976,16.830,NaN,15.321,NaN,10.440,0.196,7.725,0.496,UUBC,0,2455287.792742,55287.292742
2,55287.358064,17.214,NaN,15.697,0.538,10.666,0.256,7.897,0.514,UCBC,0,2455287.85883,55287.35883
3,55287.424280,17.017,NaN,14.891,0.290,10.490,0.221,7.873,0.505,UBBC,0,2455287.925046,55287.425046
4,55287.490496,16.888,NaN,15.135,NaN,10.214,0.162,7.728,0.476,UUBC,0,2455287.991262,55287.491262
5,55287.556584,17.143,NaN,15.007,NaN,10.832,0.293,7.326,NaN,UUBU,0,2455288.05735,55287.55735

In [141]:
lis = np.array(lis)
np.savetxt(f'./data0/datjd/mba.jd.{name}',lis,fmt = '%.6f')

#### 数据个数大于5 的拿出来用

In [143]:
for ni in range(len(namepha)):
    name = namepha[ni]
    lis = []
    rawdata = pd.read_csv(f'./allwise/csv/{name}.csv')
    rawdata = rawdata.loc[:,['mjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro','ph_qual','sso_flg']]
    rawdata.insert(loc=len(rawdata.columns),column='tdbjd',value='no')
    rawdata.insert(loc=len(rawdata.columns),column='tdbmjd',value='no')
    #rawdata['mjd'] = 2400000.5+rawdata['mjd']
    for i in tqdm(range(len(rawdata))):  
        t = Time(rawdata['mjd'][i],format='mjd',scale='utc')
        t.format = 'iso'
        rawdata['tdbjd'][i] = t.tdb.jd
        rawdata['tdbmjd'][i] = t.tdb.mjd
        lis.append(t.tdb.jd)
    lis = np.array(lis)
    np.savetxt(f'./data0/datjd/mba_jd.{name}',lis,fmt = '%.6f')

  0%|          | 0/6 [00:00<?, ?it/s]/tmp/ipykernel_4185758/3547652659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbjd'][i] = t.tdb.jd
/tmp/ipykernel_4185758/3547652659.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbmjd'][i] = t.tdb.mjd
100%|██████████| 6/6 [00:00<00:00, 962.25it/s]
100%|██████████| 9/9 [00:00<00:00, 993.18it/s]
100%|██████████| 5/5 [00:00<00:00, 1220.55it/s]
100%|██████████| 5/5 [00:00<00:00, 1245.56it/s]
100%|██████████| 4/4 [00:00<00:00, 1246.91it/s]
100%|██████████| 6/6 [00:00<00:00, 951.81it/s]
100%|██████████| 4/4 [00:00<00:00, 1322.50it/s]
100%|██████████| 4/4 [00:00<00:00, 855.72it/s]
100%|██████████| 4/4 [00:00<00:00, 973.66it/s]
100%|██████████| 4/4 [00:00<00:00, 1151.33it/s]
100%|██████████| 8/8 [00:00<00:00, 830.78it/s]

### 生成 JPL 文件 jpl_orb.dat.{name}

In [144]:
for i in namepha:
    print(i)
    #with open(f'./datjpl/jpl_orb.dat.{i}','a') as f:
    #    f.write(i+'\n2451544.50D0')    
    #f.close()   
    with open(f'./data0/datjpl/jpl_orb.dat.{i}','r') as f :
        data = f.read()
    str1 = '        '+data
    print(i,':',str1)
    with open(f'./data0/datjpl/jpl_orb.dat.{i}','w') as f:
        f.write(str1)

2010DF1
2010DF1 :         2010DF1
2451544.50D0
  -1.210530174143569D+00  7.686023162066871D-01 -6.907678413710021D-02
  -4.833338933327101D-04 -1.427771224304109D-02  4.806822916553337D-03

2017JF3
2017JF3 :         2017JF3
2451544.50D0
  -1.099117586715460D+00 -5.039020106104856D-01 -7.757597888237293D-02
   6.362528697634408D-03 -1.097692894049588D-02  1.080225571796866D-03

2012KU12
2012KU12 :         2012KU12
2451544.50D0
  -1.643446736477530D-01 -1.947662371190831D+00 -1.563833793720907D-01
   9.271736396122734D-03 -5.706327346160067D-03 -1.647251863401046D-03

2014KQ76
2014KQ76 :         2014KQ76
2451544.50D0
  -8.774426916191858D-01 -2.557408073190611D-01  7.063241959443076D-02
  -2.655420859889571D-03 -1.854532085142855D-02  1.131248049803222D-03

2010PK9
2010PK9 :         2010PK9
2451544.50D0
   9.710586244291989D-01 -5.265141898605353D-01  1.035591511720640D-01
   1.404044259948699D-03  9.769443636609925D-03  1.553543424919276D-03

2010LK34
2010LK34 :         2010LK34
2451544.50D0
  -2.281929374410411D+00 -1.644381468511291D+00  2.620477593185428D-01
   6.822029396724960D-03 -1.087181009139027D-03 -4.162358200951269D-04

2010CF19
2010CF19 :         2010CF19
2451544.50D0
  -1.213492077069834D+00 -7.977339135230553D-01  1.560239443336595D-01
   5.244520421703986D-03 -1.134837735073874D-02  1.016487075386790D-03

2010AF30
2010AF30 :         2010AF30
2451544.50D0
   1.332557140507521D+00 -3.849579682404830D-01 -7.307585777473063D-02
   8.717931160626453D-03  1.125486323719516D-02 -1.435282100380091D-04

2013QR1
2013QR1 :         2013QR1
2451544.50D0
   9.786929668286735D-01 -7.860892072746688D-01  2.367256122078178D-01
  -2.430529775713560D-03  1.355146039696699D-02 -1.103807536938315D-02

2005EE
2005EE :         2005EE
2451544.50D0
   7.923265983461104D-01 -7.951329244302276D-04 -7.994160154549518D-02
  -3.324423516726024D-03  2.168288072899565D-02 -5.055509027950138D-04

2004KH17
2004KH17 :         2004KH17
2451544.50D0
  -7.275176304738487D-01 -1.642370178745990D-01  2.776451442893862D-01
  -5.453952417154285D-03 -1.724083038202921D-02  8.703945930327511D-04

### E 2 D

In [125]:
for i in namepha:
    with open(f'./data0/datjpl/jpl_orb.dat.{i}','r') as f :
        data = f.read()
    str1 = data[:20]
    str2 = data[20:].replace('E','D')
    #print(i,':',str2)
    f.close()
    with open(f'./data0/datjpl/jpl_orb.dat.{i}','w') as f :
        f.write(str1+str2)

## get flux

In [126]:
#-------initial para-------------------------
#Fv0 of W1 ,W2, W3, W4
Fv0 = [-1,306.682,170.663,29.045,8.284]
#Color corrections  Col[Bv=1:8=(100,141,200,283,400,566,800,1131),fc=1:4=(W1,W2,W3,W4)]
Fc0 = np.zeros((1,8))#W1,W2,W3,W4
Fc1 = np.array([-1,17.2062,3.9096,2.6588,1.0032]) #Bv=100
Fc2 = np.array([-1,4.0882,1.9739,1.4002,0.9852])  #Bv=141
Fc3 = np.array([-1,2.0577,1.3448,1.0006,0.9833])  #Bv=200
Fc4 = np.array([-1,1.3917,1.1124,0.8791,0.9865])  #Bv=283
Fc5 = np.array([-1,1.1316,1.0229,0.8622,0.9903])  #Bv=400
Fc6 = np.array([-1,1.0263,0.9919,0.8833,0.9935])  #Bv=566
Fc7 = np.array([-1,0.9884,0.9853,0.9125,0.9958])  #Bv=800
Fc8 = np.array([-1,0.9801,0.9877,0.9386,0.9975])  #Bv=1131
Fc = [Fc0,Fc1,Fc2,Fc3,Fc4,Fc5,Fc6,Fc7,Fc8]
Fc = np.array(Fc)
Bv = 4
Const = np.array([-1,Fv0[1],Fv0[2],Fv0[3],Fv0[4]])
def h2flux(Fconst,dat_H):
    return Fconst*np.power(10,-dat_H/2.5)*1000

/tmp/ipykernel_4185758/3900039758.py:15: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  Fc = np.array(Fc)

In [128]:
for i in range(len(namepha)):
    namei = namepha[i]
    filename = namei
    rawdata = pd.read_csv(f'./allwise/csv/{filename}.csv')
    rawdata = rawdata.loc[:,['mjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro','ph_qual','sso_flg']]
    rawdata.insert(loc=len(rawdata.columns),column='tdbjd',value='no')
    rawdata.insert(loc=len(rawdata.columns),column='tdbmjd',value='no')
    #rawdata['mjd'] = 2400000.5+rawdata['mjd']
    for i in tqdm(range(len(rawdata))):  
        t = Time(rawdata['mjd'][i],format='mjd',scale='utc')
        t.format = 'iso'
        rawdata['tdbjd'][i] = t.tdb.jd
        rawdata['tdbmjd'][i] = t.tdb.mjd
    rawdata
    data = rawdata.loc[:,['tdbjd','w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro']]
    data1234 = data.loc[:,['w1mpro','w1sigmpro','w2mpro','w2sigmpro','w3mpro','w3sigmpro','w4mpro','w4sigmpro']]
    data1234.insert(loc=len(data1234.columns),column='w1nan',value=0)
    data1234.insert(loc=len(data1234.columns),column='w2nan',value=0)
    data1234.insert(loc=len(data1234.columns),column='w3nan',value=0)
    data1234.insert(loc=len(data1234.columns),column='w4nan',value=0)      
    for i in range(len(data1234)):
        if data1234.loc[i,'w1sigmpro']>0:
            data1234.loc[i,'w1nan'] = 1
        else:
            data1234.loc[i,'w1sigmpro'] = 0.01
        if data1234.loc[i,'w2sigmpro']>0:
            data1234.loc[i,'w2nan'] = 1
        else:
            data1234.loc[i,'w2sigmpro'] = 0.01
        if data1234.loc[i,'w3sigmpro']>0:
            data1234.loc[i,'w3nan'] = 1
        else:
            data1234.loc[i,'w3sigmpro'] = 0.01
        if data1234.loc[i,'w4sigmpro']>0:
            data1234.loc[i,'w4nan'] = 1
        else:
            data1234.loc[i,'w4sigmpro'] = 0.01
    datafill = data1234.fillna(method='ffill',axis=1).fillna(method='backfill',axis=1)
    #data of W1,W2,W3,W4
    dat_w1 = np.array(datafill['w1mpro'])
    #dat_w1= np.hstack([dat_w1,dat_w1*0.1])
    dat_w2 = np.array(datafill['w2mpro'])
    #dat_w2= np.hstack([dat_w2,dat_w2*0.1])
    dat_w3 = np.array(datafill['w3mpro'])
    #dat_w3= np.hstack([dat_w3,dat_w3*0.1])
    dat_w4 = np.array(datafill['w4mpro'])
    #dat_w4= np.hstack([dat_w4,dat_w4*0.1])
    #dat w1
    dat_fluxw1 = dat_w1
    dat_fluxw1 = Const[1]*np.power(10,-dat_w1/2.5)*1000 
    #dat w2
    dat_fluxw2 = dat_w2
    dat_fluxw2 = Const[2]*np.power(10,-dat_w2/2.5)*1000 
    #dat w3
    dat_fluxw3 = dat_w3
    dat_fluxw3 = Const[3]*np.power(10,-dat_w3/2.5)*1000 
    #print(f'{Const[1]}*{np.power(10,-dat_w3[0]/2.5)}*1000={dat_fluxw3[0]}')
    #dat w4
    dat_fluxw4 = dat_w4
    dat_fluxw4 = Const[4]*np.power(10,-dat_w4/2.5)*1000 
    dat234 = np.concatenate([dat_fluxw2,dat_fluxw3,dat_fluxw4],axis=0)
    #np.savetxt(f'obs.txt.{name}',dat234)
    dat1234 = np.concatenate([dat_fluxw1,dat_fluxw2,dat_fluxw3,dat_fluxw4],axis=0)
    np.savetxt(f'./data0/datflux/obsNEW.txt.{namei}',dat1234)
    dat_err1 = np.array(datafill['w1sigmpro'])
    err1 = dat_err1
    err1 = Const[1]*(-1/2.5)*np.power(10,(-1/2.5)*(dat_w1-1))*1000*dat_err1
    err1 = abs(err1)
    dat_err2 = np.array(datafill['w2sigmpro'])
    err2 = dat_err2
    err2 = Const[2]*(-1/2.5)*np.power(10,(-1/2.5)*(dat_w2-1))*1000*dat_err2
    err2 = abs(err2)
    dat_err3 = np.array(datafill['w3sigmpro'])
    err3 = dat_err3
    err3 = Const[3]*(-1/2.5)*np.power(10,(-1/2.5)*(dat_w3-1))*1000*dat_err3
    err3 = abs(err3)
    dat_err4 = np.array(datafill['w1sigmpro'])
    err4 = dat_err4
    err4 = Const[4]*(-1/2.5)*np.power(10,(-1/2.5)*(dat_w4-1))*1000*dat_err4
    err4 = abs(err4)
    daterr = np.concatenate([err1,err2,err3,err4],axis=0)
    np.savetxt(f'./data0/daterr/obsNEWerr.txt.{namei}',daterr)

  0%|          | 0/6 [00:00<?, ?it/s]/tmp/ipykernel_4185758/3383776315.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbjd'][i] = t.tdb.jd
/tmp/ipykernel_4185758/3383776315.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata['tdbmjd'][i] = t.tdb.mjd
100%|██████████| 6/6 [00:00<00:00, 843.30it/s]
100%|██████████| 9/9 [00:00<00:00, 1108.37it/s]
100%|██████████| 5/5 [00:00<00:00, 907.43it/s]
100%|██████████| 5/5 [00:00<00:00, 1045.23it/s]
100%|██████████| 4/4 [00:00<00:00, 1114.54it/s]
100%|██████████| 6/6 [00:00<00:00, 654.68it/s]
100%|██████████| 4/4 [00:00<00:00, 1120.20it/s]
100%|██████████| 4/4 [00:00<00:00, 679.60it/s]
100%|██████████| 4/4 [00:00<00:00, 1065.63it/s]
100%|██████████| 4/4 [00:00<00:00, 496.60it/s]
100%|██████████| 8/8 [00:00<00:00, 999.92it/s]