## 对最后的统计结果（pha，wise）处理

In [2]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
from requests.api import request
from tqdm import tqdm
raw_data = pd.read_table('mpc_final_sort.txt')

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [3]:
data = raw_data[:230]
data

           Name   Diam    type          PHA  time
0      2019 NC1  0.137    Aten         Near  2021
1       2020 MV  0.062  Apollo         Near  2020
2      2020 QU4  0.142    Amor         Near  2020
3      2020 BJ4  0.124  Apollo  Potentially  2020
4     2020 BN11  0.090  Apollo         Near  2020
..          ...    ...     ...          ...   ...
225    2010 KX7  0.124    Aten  Potentially  2010
226  2010 HX107  0.057    Aten         Near  2010
227   2009 UX17  0.149    Amor         Near  2010
228   2010 HW81  0.156  Apollo         Near  2010
229    2000 AA6  0.113  Apollo         Near  2010

[230 rows x 5 columns]

In [4]:
pha = data['PHA'].value_counts()
wise = data['time'].value_counts()
type = data['type'].value_counts()
print(pha,'\n\n',wise,'\n\n',type)

Near           178
Potentially     49
-1               3
Name: PHA, dtype: int64

 2010    55
2016    44
2015    30
2017    26
2014    25
2018    18
2019    15
2020    13
2013     2
2021     1
2011     1
Name: time, dtype: int64

 Apollo    161
Amor       42
Aten       24
Main        3
Name: type, dtype: int64

In [7]:
data2 = data.sort_values(by=['PHA','time','Diam'],ascending=False,ignore_index=True)
data3 = data2[:49]
data3.to_csv('pha.txt',sep='\t')
data3[36:48]

         Name   Diam    type          PHA  time
36  2010 NY65  0.158  Apollo  Potentially  2010
37  2010 DG77  0.156  Apollo  Potentially  2010
38  2010 XP69  0.156    Amor  Potentially  2010
39  2010 JN71  0.156  Apollo  Potentially  2010
40   2010 GS7  0.149  Apollo  Potentially  2010
41   2019 DD2  0.142  Apollo  Potentially  2010
42  2010 FH81  0.142  Apollo  Potentially  2010
43   2003 MA3  0.136  Apollo  Potentially  2010
44  2010 PW58  0.136    Aten  Potentially  2010
45  2010 FC81  0.130    Amor  Potentially  2010
46   2010 CO1  0.124  Apollo  Potentially  2010
47   2010 KX7  0.124    Aten  Potentially  2010